<!DOCTYPE html>
<html>
<head>
  <title>Fill Mitchell</title>
</head>
<body>
  <main>
    <header>
      <h1>Fill Mitchell</h1>
      <h2>Placeholder images of Phil Mitchell from EastEnders</h2>
    </header>
    <div>
      <h3>Quick and dirty usage:</h3>
      <p>Use <code>https://fillmitchell.com/r/${width}/${height}</code> as the source of your image:</p>
      <blockquote>
        <pre>
          &lt;img src=&quot;https://fillmitchell.com/r/320/240&quot; /&gt;
        </pre>
      </blockquote>
      <p>And enjoy results like this:</p>
      <img src="https://fillmitchell.com/r/320/240" />
      <img src="https://fillmitchell.com/r/640/480" />
      <img src="https://fillmitchell.com/r/768/1024" />
    </div>
  </main>
</body>
</html>
